* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Poppins";
  background-color: white;
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

.botao {
  display: block;
  width: fit-content;
}
